# Set the filesytem path to the root web directory for your PhiloLogic install.
database_root = "/var/www/html/philologic/"
# /var/www/html/philologic/ is conventional for linux,
# /Library/WebServer/Documents/philologic for Mac OS.

# Set the URL path to the same root directory for your philologic install.
url_root = "https://intertextual-hub.uchicago.edu/philologic/"
# http://localhost/philologic/ is appropriate if you don't have a DNS hostname.

## This should be set to the location of the PhiloLogic4 www directory
web_app_dir = '/var/lib/philologic4/web_app/'
# Point to a default theme to use for all your PhiloLogic4 loads.

theme = '/home/clovis/PhiloLogic4/extras/artfl_theme.css'

